@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #202020;
}

.swiper-card .swiper-slide {
    height: auto !important;
}

.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -10px;
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 10px;
    background-clip: padding-box;
}

.my-masonry-grid_column > div {
    margin-bottom: 10px;
}
